.card {
  border: solid 3px;
  border-radius: 10px;
  width: 220px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
  margin-bottom: 40px;
  background-color: beige;
}

.card_title {
  font-family: "Neucha";
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.card_description {
  font-family: "Public Sans";
}
.image {
  width: 220px;
  height: 150px;
  border-radius: 10px;
}

.card_btn {
  margin-bottom: 20px;
  font-family: "Neucha";
  font-size: 20px;
  background-color: #35bc85;
  padding: 5px;
}
